body {
  font-family: Helvetica;
  font-weight: lighter;
  letter-spacing: 2px;
  background-image: url("RockPaperScissors.png");
  background-size: cover;
}

nav {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 150px;
  color: #b3ffe6;

}
